:root {
  /* Variáveis */
  --screen-max-width: 1440px;
  --padding-horizontal-global: 20px;
  --container-radius-global: 2px;

  /* Variáveis para formatação de texto */
  --semi-bold: 600;

  /* Variáveis de cores */
  --background: #daeafa;
  --foreground: #071934;
  --white: #fff;
  --black: #000;
  --p3: #1d5db5;
  --p4: #5d90d6;
  --p5: #b484ac;
  --shadow-color: #98a9e3;
}

html,
body {
  max-width: 100vw;
  height: 100%;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p,
h3 {
  color: var(--black);
  /* font-size: 16px; Definir depois, mas vai precisar configurar font-size em todos os outros componentes*/
}

.padding-horizontal-global {
  padding-right: var(--padding-horizontal-global);
  padding-left: var(--padding-horizontal-global);
}

.container {
  background-color: var(--white);
}

.g-margin {
  max-width: 100%;
  margin: calc(var(--padding-horizontal-global) / 2)
    var(--padding-horizontal-global);
}

.g-padding {
  padding: var(--padding-horizontal-global);
}

.g-button-image {
  background-color: transparent;
  border: none;
  background-size: contain;
  background-repeat: no-repeat;
  color: var(--foreground);
}

.g-button-image:hover {
  cursor: pointer;
}

.g-desativado {
  opacity: 0.5;
}

.g-desativado:hover {
  cursor: default;
}

.g-header-distance {
  padding-top: 100px;
}

.shadow-1 {
  box-shadow: 2px 2px 0 0 var(--shadow-color);
}

.shadow-2 {
  box-shadow: 0 4px 0 0 var(--shadow-color);
}

.shadow-3 {
  box-shadow: 2px -1px 2px 0 var(--shadow-color);
}

a {
  color: inherit;
  text-decoration: none;
}
