.main__carrosselBack {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 230px;
  border-top: 20px solid var(--foreground);
  background-color: var(--white);
}

.div-central {
  display: flex;
  justify-content: center;
  padding-top: 10px;
  transition: padding ease 0.3s;
}

.inner-div {
  width: 100%;
  max-width: var(--screen-max-width);
}

.carrossel-div {
  position: relative;
  z-index: 10;
}

/* DESTAQUE */
.destaque {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 30px 20px;
  padding-bottom: 10px;
  background-color: var(--foreground);
  color: var(--white);
  border-radius: var(--container-radius-global);
}

.destaque > h3 {
  text-align: center;
  font-size: 20px;
  color: white;
}

.destaque-list {
  flex: 1;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  min-height: 100px;
  gap: 8px;
  padding-bottom: 40px;
}

.destaque > p {
  text-align: center;
  font-weight: var(--semi-bold);
  text-transform: uppercase;
}

/* RECEM LANCHADOS */
.novos {
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 100%;
  padding-top: 30px;
  padding-bottom: 50px;
}

.novos > h3 {
  font-weight: bolder;
  font-size: 20px;
  padding-bottom: 20px;
  padding-left: 18px;
  color: var(--foreground);
}

.novos-div {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.novos-div > svg {
  margin-bottom: 40px;
}

.novos-list {
  flex: 1;
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  overflow-x: hidden;
  min-height: 200px;
  margin-bottom: 50px;
  gap: 8px;
}

.novos-list > * {
  flex-shrink: 0;
}

.novos-button--desativado {
  width: 20px;
  opacity: 0;
}

.novos-button--desativado:hover {
  cursor: default;
}

.novos-button__next--desativado {
  opacity: 0.4;
}

.novos-button__next--desativado:hover {
  cursor: default;
}

@media screen and (max-width: 744px) {
  .main {
    margin: 0;
  }

  .div-central {
    padding: 2px;
  }

  .destaque {
    padding-left: 10px;
    padding-right: 10px;
  }
}
