.info-container {
  z-index: 1;
  position: relative;
  top: -20;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  color: var(--white);
}

.info-box {
  display: grid;
  gap: 15px;
  border-radius: 4px;
  width: 75%;
  max-height: 100%;
  padding: 20px;
  background-color: var(--foreground);
  transition: width ease 0.7s;
}

.info-texto {
  display: block;
  overflow-y: hidden;
  font-size: 16;
  height: auto;
  transition: max-height ease 0.5s;
}

.info-texto > p {
  font-size: 14px;
  color: white;
}

.info-texto-fechado {
  max-height: 70px;
  backdrop-filter: blur(6px);
}

.info-texto-aberto {
  max-height: 200px;
}

.info-texto-fechado::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 30px;
  background: linear-gradient(to top, var(--foreground), transparent);
  pointer-events: none;
}

.info-redirect {
  display: inline-flex;
  width: fit-content;
  gap: 5px;
  font-size: 14px;
  font-weight: var(--semi-bold);
  color: var(--p5);
  user-select: none;
}

.info-redirect:hover {
  cursor: pointer;
  text-decoration: underline;
}

.info-details-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
}

.info-details-tags {
  flex: 1;
  opacity: 0.6;
  font-size: 14;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  color: white;
}

.info-details-avaliacao {
  display: flex;
  align-items: center;
  gap: 5px;
}

.info-details-avaliacao > p {
  font-size: 14;
  letter-spacing: 2px;
  padding-top: 2px;
  color: white;
}

.info-details-preco {
  background-color: transparent;
  border: none;
  padding: 10px 20px;
  font-size: 16;
  background-color: var(--p5);
  color: var(--white);
  border-radius: var(--container-radius-global);
}

.info-details-preco:hover {
  cursor: pointer;
}

.slide {
  position: relative;
  display: flex;
  justify-content: center;
}

.slide-div {
  position: relative;
  width: 50%;
}

.pagination-div {
  z-index: 10;
  display: flex;
  justify-content: center;
  padding: 20px 0;
}

.pagination {
  display: flex;
  justify-content: center;
  gap: 2px;
}

.pagination :global(.swiper-pagination-bullet) {
  width: 80px;
  height: 8px;
  background-color: var(--foreground);
  opacity: 0.6;
  border-radius: 30px;
  cursor: pointer;
  transition: opacity 0.3s;
}

.pagination :global(.swiper-pagination-bullet-active) {
  background-color: var(--foreground);
  opacity: 1;
}

.navigation :global(.swiper-button-prev),
.navigation :global(.swiper-button-next) {
  opacity: 0;
  width: 0;
  height: 0;
}

@media screen and (max-width: 768px) {
  .info-box {
    width: 100%;
    border-radius: 0;
  }

  .nav-icon {
    width: 0;
    opacity: 0;
  }

  .navigation :global(.swiper-button-prev),
  .navigation :global(.swiper-button-next) {
    background-color: red;
    color: var(--foreground) !important;
    fill: var(--foreground) !important;
  }

  .navigation:hover :global(.swiper-button-prev),
  .navigation:hover :global(.swiper-button-next) {
    background-color: white;
  }

  .slide-div {
    width: 80%;
  }
}

@media screen and (max-width: 576px) {
  .slide-div {
    width: 95%;
  }
}
